# Doing a different thing With A Heading

Hi, this is an another example jupyter notebook.

In [1]:
import os
import pandas as pd

## Subheading 1

In [2]:
df = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t')

In [3]:
df.head()

,item_code,item_name,display_level,selectable,sort_sequence
AA0,All items - old base,0,T,2,NaN
AA0R,Purchasing power of the consumer dollar - old ...,0,T,399,NaN
SA0,All items,0,T,1,NaN
SA0E,Energy,1,T,374,NaN
SA0L1,All items less food,1,T,358,NaN

### Subheading 2

some different words and phrases

#### Subheading 3

more different words and phrases

In [8]:
df.query("display_level == 'T'").head()

,item_code,item_name,display_level,selectable,sort_sequence
AA0,All items - old base,0,T,2,NaN
AA0R,Purchasing power of the consumer dollar - old ...,0,T,399,NaN
SA0,All items,0,T,1,NaN
SA0E,Energy,1,T,374,NaN
SA0L1,All items less food,1,T,358,NaN

---
__Advertisement :)__

- __[pica](https://nodeca.github.io/pica/demo/)__ - high quality and fast image
  resize in browser.
- __[babelfish](https://github.com/nodeca/babelfish/)__ - developer friendly
  i18n with plurals support and easy syntax.

You will like those projects!

---

# h1 Heading 8-)
## h2 Heading
### h3 Heading
#### h4 Heading
##### h5 Heading
###### h6 Heading


## Horizontal Rules

___

---

***


## Typographic replacements

Enable typographer option to see result.

(c) (C) (r) (R) (tm) (TM) (p) (P) +-

test.. test... test..... test?..... test!....

!!!!!! ???? ,,  -- ---

"Smartypants, double quotes" and 'single quotes'


## Emphasis

**This is bold text**

__This is bold text__

*This is italic text*

_This is italic text_

~~Strikethrough~~


## Blockquotes